name: Coleta Diaria de Precos Fort

on:
  schedule:
    # 12:00 UTC é 09:00 no horário de Brasília
    - cron: '0 23 * * *'
  workflow_dispatch: # Permite que você rode manualmente pelo site do GitHub

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt

      - name: Executar script de coleta
        run: python scripts/fort_atacadista.py

      - name: Salvar e subir arquivos CSV
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add data/raw/*.csv
          git commit -m "Coleta automática: $(date +'%Y-%m-%d %H:%M:%S')" || exit 0
          git push